
<center>
	<br>
	<br>
	<h1>
Bienvenue au XXIe siècle<BR>
</h1>
<br>
<br>
	<img src="http://quartierlibre.ca/wp-content/uploads/2014/11/feminisme_p19_LydiaKepinski.jpg"
	alt= "Go on !"
	height= "400px"
	width="400px">
   