@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

h1, h2, h4, header a {
	font-family: 'Amatic SC', cursive;
	font-weight: normal;
}

h2 {
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
}

header a {
	font-size: 32px;
	color: #B551A1;
}