@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

h1, h3, h4, footer, p, a, header a {
	font-family: 'Amatic SC', cursive;
	font-weight: normal;
}

h2 {
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
}

h3	{
	font-weight: normal;
}

header a {
	font-size: 32px;
	color: #B551A1;
}
p{
	font-size: 20px;
	font-weight: normal;
}
a{
	font-size: 17px;
	font-weight: normal;
}